.center {
  text-align: center;
  margin: auto;
  width: 60%;
  border: 10px solid brown;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #04aa6d;
  color: white;
}

body {
  background-color: greenyellow;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: #04aa6d;
}

h1 {
  font-family: "comic sans ms";
  font-size: 35px;
  color: blueviolet;
}

input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: black;
}
